body {
    display: flex;
    flex-direction: row;
}

#projectcard {
    width: 500px;
    height: 300px; /* Hoogte aangepast om overeen te komen met de afbeelding */
    text-align: center;
    border: 3px solid #000c7a;
    border-radius: 10px;
    display: flex;
    flex-direction: column; /* Zorgt ervoor dat de inhoud gestapeld wordt */
    position: relative; /* Zorgt ervoor dat z-index en absolute positionering werken binnen deze container */
    overflow: hidden; /* Zorgt ervoor dat inhoud buiten de kaart wordt verborgen */
}

#video-img {
    width: 100%; /* Past de breedte aan aan de kaart */
    height: 100%; /* Past de hoogte aan aan de kaart */
    border-radius: 5px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Achtergrondafbeelding op de achtergrond houden */
}

#card-text {
    width: 100%;
    min-height: 40%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Zorgt ervoor dat de inhoud naar de onderkant wordt gedrukt */
    position: absolute; /* Plaatst de tekstlaag over de kaart */
    bottom: 0; /* Zet de tekst aan de onderkant van de kaart */
    box-sizing: border-box; /* Inclusief padding in de breedte/hoogte */
}

#card-text h1 {
    margin-bottom: -10px;
}
